@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');


/* Use Playfair Display (Serif) for all H1, H2, and CTA buttons to add personality and a handcrafted, premium touch.

Use Open Sans (Sans-Serif) for body text, descriptions, and menu items to maintain clarity and readability. */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    /* A soft, neutral background color that evokes comfort. Primary background​ */
    --Warm-Beige: #F5F5DC; 

    /* For headers or accents, adding depth and warmth. Headers, Logo, and Main Text*/
    --Rich-Brown: #8B4513;

    /* For backgrounds or secondary elements, enhancing the cozy feel.​ Secondary Background & Card Sections*/
    --Soft-Cream: #FFF5E1;

    /* As an accent color, adding a touch of freshness. Call-to-Action (Buttons, Links, Highlights)*/
    --Muted-Olive-Green: #6B8E23;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    max-width: 100%;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--Muted-Olive-Green)
}

body {
    background: var(--Warm-Beige);
}

.body-container {
    background: var(--Warm-Beige);
    color: var(--Rich-Brown);
    font-family: "Open Sans", sans-serif;
    width: 100%;
}

/* Loader styles */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 245, 220, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 9999;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
}

  .loader:before{
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(-5px, -50%);
    background: linear-gradient(to right, var(--Warm-Beige) 50%, var(--Rich-Brown) 50%) no-repeat;
    background-size: 200% auto;
    background-position: 100% 0;
    animation: colorBallMoveX 1.5s linear infinite alternate;
  }

 .loader:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: var(--Rich-Brown);
 }

@keyframes colorBallMoveX {
  0%  {
    background-position: 0% 0;
    transform: translate(-15px, -50%);
  }
  15%  , 25% {
    background-position: 0% 0;
    transform: translate(0px, -50%);
  }
  75% , 85% {
    background-position: 100% 0;
    transform: translate(50px, -50%);
  }
  100% {
    background-position: 100% 0;
    transform: translate(65px, -50%);
  }
}

.nav-ul {
    display: none;
}

.nav-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.logo-div h1, .top h1 {
    font-family: "Rozha One", sans-serif;
}

#hamburger, #close {
    font-size: 1.75rem;
}

/* Mobile Navigation */
nav.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--Warm-Beige);
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}

nav.mobile-nav.show ~ .nav-bar-container {
    display: none;
}

nav.mobile-nav.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.mobile-nav-container {
    padding-top: .55rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 3;
    width: 90%;
    margin: 0 auto;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-ul li a {
    font-size: 1.5rem;
}

/* Hero section */
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
}

.hero-text h1 {
    font-family: "Rozha One", sans-serif;
    font-size: 2.7rem;
    letter-spacing: .25rem;
    margin: 37px auto;
}

.hero-text p {
    font-size: 1.25rem;
    margin: 0 auto;
    max-width: 500px;
}

.cta-shop {
    background: var(--Muted-Olive-Green);
    border: none;
    color: white;
    padding: 15px 40px;
    border-radius: 7px;
    margin-top: 30px;
    font-size: 1.25rem;
    position: relative;
    top: 0;
    transform: translateY(0);
    box-shadow: 7px 5px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.cta-shop:hover {
    background-color: #556B2F;
    color: var(--Soft-Cream);
    transform: translateY(-2px);
    box-shadow: 10px -5px 10px rgba(0, 0, 0, 0.15);
    top: 0;
}

.cta-shop:active {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

/* About us section */
.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
}

.about-image img {
    border-radius: 7px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.15);
    transform: translateY(0);
    transition: all 0.5s ease;
}

.about-image img:hover {
    transform: translateY(-2px);
    box-shadow: 20px -10px 10px rgba(0, 0, 0, 0.15);
}

.upside-text h2, .downside-text h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.upside-text p {
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.6rem;
}

.downside-text p {
    font-size: 1.25rem;
}

.tagline {
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
}

.team {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.team-member img {
    border-radius: 7px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.15);
    transform: translateY(0);
    transition: all 0.5s ease;
}

.team-member img:hover {
    transform: translateY(-2px);
    box-shadow: 20px -10px 10px rgba(0, 0, 0, 0.15);
}

.team-member p {
    font-size: 1.05rem;
    font-style: italic;
    text-align: center;
}

.team-member p span {
    font-weight: 600;
}

/* Products section */
.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
}

.products-text h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.products-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product-details {
    background: var(--Rich-Brown);
    color: var(--Warm-Beige);
    padding: 10px;
    border-radius: 7px;
}

.product-details img {
    width: 100%;
    min-width: 323px;
    max-width: 700px;
    height: auto;
    aspect-ratio: 323/300;
    border-radius: 7px;
    object-fit: cover;
}

.products-text h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 1.7rem;
}

#description {
    font-size: 1.15rem;
    font-style: italic;
}

#price {
    font-weight: 800;
    font-size: 1.4rem;
    margin: 10px auto;
}

/* Contact us section */
.contact-us {
    background: var(--Muted-Olive-Green);
    color: var(--Warm-Beige);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.contact-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
}

.contact-us-container h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin: 10px 0;
}

.contact-us-container p {
    font-size: 1.15rem;
    margin: 0 auto;
    max-width: 500px;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#name-el, #email-el {
    font-size: 1.15rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#message-el {
    font-size: 1.15rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    height: 150px;
}

#submit-btn {
    background: var(--Muted-Olive-Green);
    border: 1px solid var(--Warm-Beige);
    color: white;
    padding: 15px 40px;
    border-radius: 7px;
    font-size: 1.25rem;
    position: relative;
    top: 0;
    transform: translateY(0);
    box-shadow: 7px 5px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#submit-btn:hover {
    background-color: #556B2F;
    color: var(--Soft-Cream);
    transform: translateY(-2px);
    box-shadow: 10px -5px 10px rgba(0, 0, 0, 0.15);
    top: 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.location {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.location h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

p.phone, p.address {
    font-size: 1.20rem;
    font-style: italic;
    text-align: left;
    margin: auto 0;
}

.socials {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.socials a ion-icon {
    font-size: 2rem;
}

/* Footer section */
.footer-container {
    padding: 10px 0;
}

.footer-container p {
    font-size: 1rem;
    text-align: center;
}